<div id="dashboard">
  <dashboard-page
    username="<%= current_user.email %>"
    user="<%= current_user.id %>"
    :admin="<%= current_user.admin %>"
    user="<%= current_user.id %>"
  >
  </dashboard-page>
</div>
