.issues-reported__download {
  float: left;
  margin-left: 50%;
  transform: translateX(-50%);
}

.issues-reported__download-indicator {
  height: 38px;
  width: 38px;
}

.issues-reported__stat {
  color: $blue-dark;
  font-size: 70px;
  font-weight: bold;
  line-height: 94px;
  text-align: center;
}

.issues-reported__label {
  color: $grey-dark;
  font-size: 25px;
  line-height: 29px;
  margin: 10px 0 20px 0;
  text-align: center;
}