@import './vendor/bulma.min.scss';

@import './colours.scss';
@import './typography.scss';
@import './icons.scss';
@import './buttons.scss';
@import './dropdowns.scss';

@import './navigation.scss';

@import './tiles.scss';
@import './components/*';

@import './login';

@import './tables.scss';

html, body, #v-app {
  height: 100%;
}

html {
  background-color: #f3f3f3;
  overflow-x: auto;
}

body {
  color: $body-font-colour;
  font-family: $body-font;
}

#v-app {
  min-width: 1000px;
}

/* Bulma overrides */

@media screen and (max-width: 769px), print {
  .level,
  .level-left,
  .level-right,
  .tile:not(.is-child),
  .columns:not(.is-desktop) {
    display: flex;
  }

  .level-left+.level-right {
    margin-top: inherit;
  }

  .level-left .level-item:not(:last-child),
  .level-right .level-item:not(:last-child) {
    margin-bottom: inherit;
    margin-right: .75rem;
  }

  .level>.level-item:not(.is-narrow) {
    flex-grow: 1;
  }

  .tile.is-4 {
    flex: none;
    width: 33.33333%;
  }

  .tile.is-8 {
    flex: none;
    width: 66.66667%;
  }

  .tile.is-12 {
    flex: none;
    width: 100%;
  }

  .column.is-5 {
    flex: none;
    width: 41.66667%;
  }

  .column.is-6 {
    flex: none;
    width: 50%;
  }
}

/* Stops level elements being too wide */
.level-item {
  flex-shrink: 1;
}