$icon-hover-colour: #6285a7;

.icon-download {
  background-image: url('icon-download.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 38px;
  width: 38px;
}

.icon-download:hover {
  background-image: url('icon-download-hover.svg');
  cursor: pointer;
}

.icon-download-light {
  background-image: url('icon-download-light.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 16px;
  width: 16px;
}

.icon-ellipsis {
  background-image: url('icon-ellipsis.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 25px;
  margin: 0 10px 0 0;
  padding: 0 10px;
  width: 7px;
}

.icon-ellipsis:hover {
  background-image: url('icon-ellipsis-hover.svg');
  cursor: pointer;
}