$icon-hover-colour: #6285a7;

.icon-download {
  background-image: image-url('icon-download.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 38px;
  width: 38px;
}

.icon-download:hover {
  background-image: image-url('icon-download-hover.svg');
  cursor: pointer;
}

.icon-download-light {
  background-image: image-url('icon-download-light.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 16px;
  width: 16px;
}

.icon-download-loading {
  height: 16px;
  width: 16px;
}

.button .icon-download-loading:last-child:not(:first-child) {
  height: inherit;
  margin-left: 0;
  margin-right: 0;
  width: inherit;
}

.icon-arrow-right-light {
  background-position: center;
  background-image: image-url('icon-arrow-right-light.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 16px;
  width: 16px;
}

.icon-arrow-left-light {
  background-position: center;
  background-image: image-url('icon-arrow-right-light.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 16px;
  transform: rotateY(180deg);
  width: 16px;
}

.icon-arrow-down-light {
  background-position: center;
  background-image: image-url('icon-arrow-down-light.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 16px;
  width: 16px;
}

.icon-arrow-right-end-light {
  background-position: center;
  background-image: image-url('icon-arrow-right-end-light.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 16px;
}

.icon-arrow-left-end-light {
  background-position: center;
  background-image: image-url('icon-arrow-right-end-light.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 16px;
  transform: rotateY(180deg);
}

.icon-ellipsis {
  background-image: image-url('icon-ellipsis.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 25px;
  margin: 0 10px 0 0;
  padding: 0 10px;
  width: 7px;
}

.icon-ellipsis:hover {
  background-image: image-url('icon-ellipsis-hover.svg');
  cursor: pointer;
}

.icon-remove {
  background-position: center;
  background-image: image-url('icon-remove.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 20px;
  width: 20px;
}

.icon-logout-light {
  background-position: center;
  background-image: image-url('icon-logout-light.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 16px;
  width: 16px;
}