.modal-background {
  background: #fff;
}

.modal-close {
  right: 40px;
  top: 40px;
}

.modal-content {
  width: 960px;
}

.modal-content h2 {
  margin-bottom: 1.5rem;
}

.modal-content .search-list {
  border: $tile-section-border;
}