.list-table {
  border-collapse: separate;
  border-spacing: 0 8px;
  display: table;
  table-layout: fixed;
  width: 100%;
}

.list-table tr {
  display: table-row;
}

.list-table td,
.list-table th {
  display: table-cell;
  padding: 0 0 0 20px;
  vertical-align: middle;
}

.list-table th {
  font-weight: 500;
  padding-bottom: 10px;
}

.list-table tbody td {
  border: $tile-section-border;
  border-width: 1px 0;
  height: 3rem;
}

.list-table tbody td:first-child {
  border-width: 1px 0 1px 1px;
}

.list-table tbody td:last-child {
  border-width: 1px 1px 1px 0;
}

.list-table__icon-download {
  display: block;
  float: right;
  height: 32px;
  margin-right: 10px;
  width: 32px;
}

.list-table__dropdown {
  float: right;
}

.list-table__header-button {
  font-weight: 400 !important;
  text-align: right;
}

.list-table__message {
  padding: 0 20px 0 20px;
  text-align: center;
}

.list-table-pagination {
  margin-top: 10px;
}

.list-table-pagination__label {
  font-size: 14px;
  margin-right: 10px;
}

.list-table-pagination__button {
  background-color: $blue-medium !important;
  margin-left: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.list-table-pagination__button:hover {
  background-color: #517091 !important;
}

.list-table-pagination__button span {
  height: 20px;
  width: 15px;
}

.list-table-pagination__button .icon-arrow-left-light {
  background-position: right;
}

.list-table-pagination__button .icon-arrow-right-light {
  background-position: right;
}