@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i');

$font-roboto: 'Roboto', sans-serif;

$body-font: $font-roboto;
$body-font-colour: $grey-dark;

h1 {
  font-family: $font-roboto;
  font-size: 25px;
  font-weight: 500;

  .about &,
  .login & { margin-bottom: 14px; }
}

h2 {
  font-family: $font-roboto;
  font-size: 25px;
  font-weight: 400;

  .about & { 
    font-size: 20px;
    font-weight: 500;
  }
}

h3 {
  font-family: $font-roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 1em;
}

strong {
  font-weight: 500;
}

p {
  margin-bottom: 14px;
}

ul {
  list-style: disc;
  margin: 20px;
  padding-left: 20px;
}